 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 a {
     text-decoration: none;
 }

 img {
     width: 100%;
     border: 0;
 }

 body {
     margin: 0;
     background-color: #fff;
     font-family: 'Quicksand',
         sans-serif;
     height: 100vh;
 }

 .main {
     text-align: center;
     margin-top: .7rem;

 }

 .logo-text {
     margin-top: 7px;
     margin-left: 16px;
 }

 .profile-p {
     margin-top: 1rem;
     font-size: .8rem;
 }

 .logo-text {
     font-family: 'Monoton',
         cursive;
     font-size: .5rem;
 }


 .account-div {
     display: flex;
     gap: 6rem;
     justify-content: center;
     margin-top: 3rem;

 }

 .accounts-h1 {
     margin-top: 2rem;
     font-size: 1.5rem;
 }


 .account-card {
     background-size: 8rem;
     background-repeat: no-repeat;
     width: 30%;
     border-radius: 10px;
     padding: .4rem 1rem 1.8rem 1rem;
     margin-left: 1rem;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     position: relative;
 }

 .chequeing-account-card {
     background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 212, 255, 1) 0%, rgba(199, 45, 45, 1) 0%, rgba(149, 42, 45, 1) 0%, rgba(95, 46, 121, 1) 79%);
     ;
 }

 .premium-account-card {
     background: linear-gradient(90deg, rgba(0, 212, 255, 1) 0%, rgba(199, 45, 45, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(54, 52, 55, 1) 0%, rgba(11, 11, 11, 1) 100%);
 }

 .premium-account-card p {
     color: white;
 }

 .savings-account-card {
     background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(0, 212, 255, 1) 0%, rgba(14, 93, 145, 1) 99%);

 }


 .card-chip-div {
     width: 2rem;
     position: absolute;
     bottom: 50%;
 }

 .card-header {
     display: flex;
     justify-content: space-between;
 }

 .card-number-img-div {
     display: flex;
     align-items: center;
     position: relative;



 }

 .card-number-img-div p {
     flex: 2;
     margin-top: 3rem;
     position: absolute;
     width: 100%;
     display: flex;
     justify-content: space-evenly;
     color: white;
     z-index: 2;
     opacity: 0.6;

 }

 .card-img-div {
     width: 8rem;
     flex: 1;
     opacity: .6;
     margin-top: .5rem;
     text-align: end;

 }

 .card-img-div img {
     filter: drop-shadow(2px 4px 8px #585858);
     border-radius: 500px;
     height: 7rem;
     width: 7rem;
     top: 0;
 }

 .card-expiry {
     text-align: center;
     font-size: .7rem;
 }

 .account-details {
     width: 30%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     text-align: start;

 }

 .account-details-button {
     display: flex;
     align-items: center;
     gap: 2rem;
 }

 .account-details-button a,
 a {
     color: #483d8b;
     text-decoration: underline;
     font-size: .9rem;
     font-weight: 700;
 }

 .account-details-button button {
     border: none;
     background-color: rgb(225, 158, 158);
     color: white;
     padding: .5rem;
     border-radius: 4px;
 }

 .no-account-p {
     margin-top: 2rem;
 }

 .account-links {
     margin-top: 2rem;
     display: inline-block;
     margin-right: 1rem;
 }