* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

body {
    margin: 0;
    background-color: #fff;
    font-family: 'Quicksand',
        sans-serif;
}

input:focus {
    outline: none;
}

.main {
    height: 100vh;
    display: flex;
}

.left-area {
    padding: 7px 16px;

}

.logo-text {
    font-family: 'Monoton',
        cursive;
}

.logo-text h1 {
    font-size: 1rem;
}

.product-description-div {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.left-area-text {
    width: 70%;
    margin: 0 auto;
}

.left-area-text h2 {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.left-area-text p {
    text-align: center;
}

.computer-img-div {
    width: 25rem;
}

.right-area {
    padding: 7px 16px;
    flex: 2;
    background-color: rgb(231, 231, 243);
}



.nav-btn {
    text-align: end;
    margin-top: 7px;
}

.form-signintext-div {
    padding-left: 5rem;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-area-signin-text h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.right-area-signin-text p {
    margin-bottom: .7rem;
    font-size: .8rem;
}

.form {
    padding: 2rem 0
}

.star {
    color: red;
}

.form-div {
    padding-bottom: 2rem;
    display: flex;
}

.form-div-1,
.form-div-2 {
    flex: 1;
}

label {
    font-size: .8rem;
}

input {
    margin-top: 5px;
    width: 90%;
    padding: 3px 0;
    border: none;
    border-radius: 3px;
}

.input-div {
    margin-top: 1rem;
}

.button {
    border: none;
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.button-div {
    text-align: center;
}

.submit-btn {
    margin-top: 1rem;
    background-color: rgb(5, 69, 49);
    padding-left: 2.5rem;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding-right: 2.5rem;
}

.register-btn {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    background-color: rgb(157, 110, 199);
}

.login-instead {
    margin-top: 1rem;
    text-align: center;
    font-size: .8rem;
    text-decoration: underline;
}